/* Your Website Styles */
header {
	font-family: 'Playfair Display SC', serif;

}
body {
	background: #eee;
	
}



div {
	margin-top: -60px;	
	font-family: 'inherit', serif;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}